<html>
	<head>
		<title>Gaurav's blog</title>
	</head>
	<body>
		<div>
			<h1><a href="/">Gaurav blog</a></h1>
		</div>

		<div>
			<p>published 01.03.2019, 11:05</p>
			<h2><a href="">My first post</a></h2>
			<p>“If you don't like the hand that fate's dealt you, fight for a new one.” </p>
		</div>
		<div>
			<p>published 01.03.2019, 11:11</p>
			<h2><a href="">My second post</a></h2>
			<p>“A smile is the best way to get away with trouble even if it’s a fake one.” </p>
		</div>
	</body>
</html>